:root {
  --color-primary: #E40A2D;;
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #171717;
  color: white;
  
}

h1 {
  font-family: Merry Christmas, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 10rem;
}

h1, h2, h3 {
  color: var(--color-primary);
}

h2 {
  margin-top: 3rem;
}

a {
  color: var(--color-primary);
}

body {
  max-width: 1000px;
  margin: 0 auto 5rem auto;
  padding: 0 3rem;
}

pre[class*="language-"] {
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 5rem auto;
  padding-bottom: 4rem;
}

footer .happy-holidays {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-primary);
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 4rem;
  }

  .contact {
    text-align: center;
  }
}

footer .divriots {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

footer .divriots svg {
  width: 125px;
  margin-left: 0.5rem;
  vertical-align: middle;
}

footer a,
footer a:link,
footer a:visited,
footer a:focus,
footer a:hover,
footer a:active {
  text-decoration: none;
  color: white;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect p,
.contact p {
  margin-top: 0;
  color: white;
}

.connect p,
.contact p:first-child {
  text-transform: uppercase;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials svg {
  height: 25px;
}

.contact p {
  margin-bottom: 0.5rem;
}